/** @format */

.IMC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
  background-image: url("../../../public/bg_imc.jpg");
  background-position: center center no-repeat;
  background-size: contain;
  margin-top: 1rem;
  padding: 14px;
}
.IMC h2 {
  padding: 0 0.6em;
  background-color: rgba(22, 22, 22, 0.5);
  border-radius: 20px;
  color: white;
}
.IMC input[type="text"] {
  width: 150px;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: 1px solid #ccc;
}
.IMC button {
  width: 150px;
  padding: 0.5em 1em;
  border-radius: 10px;
  border: none;
  background-color: rgba(34, 33, 32, 0.753);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.IMC .resultado {
  color: #55b2ff;
  font-weight: bold;
  width: 200px;
  background-color: rgba(22, 22, 22, 0.5);
  height: auto;
  padding: 0.7em 0;
}
.IMC .msg {
  color: white;
  background-color: rgba(22, 22, 22, 0.5);
  padding: 0 0.6em;
  font-weight: bold;
}
